@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");
/*ОБНУЛЕНИЕ СТИЛЕЙ*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.nonselect {
    user-select: none;
}
/***********************************/

.body {
    background: repeating-linear-gradient(transparent, transparent 42px, darkgray 44px),
        repeating-linear-gradient(90deg, transparent, transparent 42px, darkgray 44px);
}
.container {
    max-width: 1164px;
    margin: 0 auto;
}
.header {
    background: white;
    border-bottom: darkgray 1px solid;
    .container {        
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    margin-bottom: 50px;
}
.pseudologo {
    display: block;
    padding: 0.3em 1em;
    border-radius: 1em;
    background-color: rgba(69, 46, 150, 0.37);
    user-select: none;
    cursor: pointer;
}
.header--button {
    background-color: darkgray;
    border-radius: 40px;
    padding: 0.3em 0.5em;
    transition: 0.2s;
    &:hover {
        background-color: rgb(204, 204, 204);
    }
    &:focus {
        background-color: rgb(204, 204, 204);
    }
    &:active {
        background-color: rgb(105, 105, 105);
    }
}
.goodsbox {
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
}
.goodsbox__header {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 30px;
}
.goodsbox__handler {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.good {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 150px;
    text-align: right;
    align-items: flex-end;
}
.good--image {
    width: 150px;
    height: 150px;
}
.good--name {
    margin: 10px 0;
    font-weight: 700;
}
.good--button {
    margin-top: 10px;
    background-color: darkgray;
    border-radius: 40px;
    padding: 0.2em 0.3em;
    transition: 0.2s;
    &:hover {
        background-color: rgb(204, 204, 204);
    }
    &:focus {
        background-color: rgb(204, 204, 204);
    }
    &:active {
        background-color: rgb(105, 105, 105);
    }
}

.hamburgerMaker {
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
}

.hamburgerMaker__header {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 30px;
}

.hamburgerMaker__chooseSize {
    min-height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p {
        margin-bottom: 20px;
    }
    div {
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 10px;
        }
    }
    margin-bottom: 50px;
}

.hamburgerMaker__chooseSize--radioHandler {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburgerMaker__chooseSize--presenter {
    margin-top: 50px;
    font-size: 200px;
    transition: 0.2s;
}

.hamburgerMaker__chooseAdditional {
    display: flex;
    justify-content: center;
    .hamburgerMaker__chooseAdditional--checkboxHandler {
        display: flex;
        justify-content: space-between;
        width: 639px;
        margin-bottom: 50px;
    }
}

.hamburgerMaker__chooseAdditional__mustHave,
.hamburgerMaker__chooseAdditional__mustNotHave {
    display: flex;
    flex-direction: column;
    p {
        border-bottom: 1px solid grey;
        margin-bottom: 5px;
    }
    label {
        margin-bottom: 10px;
    }
}

.hamburgerMaker__total {
    display: flex;
    justify-content: center;   
    margin-bottom: 50px; 
}

.hamburgerMaker__total__handler {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 639px;
}

#makeOrder {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s;
    &:hover {
        background-color: rgb(163, 233, 163); 
    }
    &:active {
        background-color: rgb(104, 231, 104); 
    }
}